/* Energy Overview Widget Styles */
.ui-energy-overview-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.canvas-wrapper {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.canvas-wrapper img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
}

.canvas-wrapper svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
